html {
  scroll-behavior: smooth;
}

.NFTimageBox {
  position: relative;
}

.NFTimageBox::after {
  display: block;
  content: "";
  /* 16:9 aspect ratio */
  padding-bottom: 100%;
}

.NFTimage {
  object-fit: scale-down;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.NFTdescription {
  overflow: hidden;
  height: 80px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 300;
  height: auto;
  border-radius: 50%;
}

.nav-pills {
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #212529;
}

h1 {
  font-size: xx-large;
}

.mobilePost {
  margin-right: 2rem;
}

.feedPostContainer {
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .mobile-profile {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .mobile-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .feedPostContainer {
    justify-content: center;
  }

  .mobilePost {
    margin-right: 0;
  }

  .mobileHstackChat {
    flex: "wrap";
  }
}
