html {
  scroll-behavior: smooth;
}

.NFTimage,
.profile-picture {
  max-height: 200px;
  max-width: 300px;
}

.nav-pills {
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #212529;
}
/*
Badge {
  justify-content: center;
  align-items: center;
} */
